


// Puces
// taille des puces
@mixin puce($size, $bgColor){

  display: flex;
  align-items: center;
// 
&::before{
  content: '';
  // inline-block se met les uns à côté des autres 
  display: inline-block;
  width: $size;
  height:$size;
  border-radius: 50%;
  background-color: $bgColor;;
  margin-right: $size;
}
}
